@font-face {
  font-family: "gothampro";
  src: url("../fonts/gothampro.ttf") format("trutype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "gothampro", sans-serif;
  background-color: #171422;
}
body .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
body a {
  color: #fff;
  text-decoration: none;
}
body h1 {
  color: #fff;
}
body h2 {
  background: linear-gradient(172.77deg, #8A2645 15.55%, #291725 56.17%, #171422 75.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 183px;
  font-weight: 700;
}
body p {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  line-height: 30.8px;
}
body header {
  width: 100%;
  height: 80px;
  background: rgb(158, 11, 55);
  background: linear-gradient(90deg, rgb(158, 11, 55) 8%, rgb(239, 215, 51) 71%, rgb(161, 16, 55) 98%);
  position: fixed;
  z-index: 10;
}
body header .container {
  padding: 15px 0;
}
body header .container .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .container .header__nav--list {
  list-style-type: none;
  display: flex;
}
body header .container .header__nav--list:nth-child(1) {
  gap: 72px;
}
body header .container .header__nav--list:nth-child(1) li {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}
body header .container .header__nav--list:nth-child(1) li:hover,
body header .container .header__nav--list:nth-child(1) li .active {
  border-bottom: 1px solid #fff;
}
body header .container .header__nav--list:nth-child(2) {
  gap: 42px;
  display: flex;
  align-items: center;
}
body header .container .header__nav--list:nth-child(2) li {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s ease;
}
body header .container .header__nav--list:nth-child(2) li:hover {
  border-bottom: 1px solid #fff;
}
body header .container .header__nav--list:nth-child(2) button {
  width: 160px;
  height: 49px;
  background: rgba(158, 11, 55, 0.7);
  border: none;
  color: white;
  box-shadow: inset 4px 4px 6px 0px rgba(255, 255, 255, 0.5), 4px 4px 20px 0px rgba(223, 80, 23, 0.8);
  border-radius: 40px;
  transition: all 0.5s ease;
}
body header .container .header__nav--list:nth-child(2) button:nth-child(1) {
  background: none;
  box-shadow: none;
}
body header .container .header__nav--list:nth-child(2) button:nth-child(1):hover {
  box-shadow: inset 4px 4px 6px 0px rgba(255, 255, 255, 0.5), 4px 4px 20px 0px rgba(223, 80, 23, 0.8);
  background: rgba(158, 11, 55, 0.7);
}
body header .container .header__nav--list:nth-child(2) button:hover {
  background: rgb(158, 11, 55);
  cursor: pointer;
}
body #intro {
  height: 650px;
  width: 100%;
  position: relative;
}
body #intro .intro__left {
  padding-top: 280px;
  background: rgb(223, 80, 23);
  height: 100%;
  background: rgb(255, 76, 0), rgb(40, 37, 51);
  background: linear-gradient(149deg, rgba(255, 76, 0, 0.9192051821) 11%, rgba(235, 236, 12, 0) 40%), linear-gradient(103deg, rgba(40, 37, 51, 0.9192051821) 52%, rgba(40, 37, 51, 0) 69%);
}
body #intro .intro__left h1 {
  font-size: 50px;
  color: #fff;
  line-height: 60px;
  width: 820px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 250px;
}
body #intro .intro__right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  height: 100;
}
body #app .container {
  padding: 90px 0;
}
body #app .container .app__title {
  background: linear-gradient(90.95deg, #FFA462 0%, #B45350 21.79%, #8A2645 48.93%, #291725 84.55%);
  border-radius: 30px;
  width: 1170px;
  padding: 40px 47px 50px 40px;
}
body #app .container .app__title p {
  max-width: 1000px;
}
body #app .container .number__one {
  padding-top: 40px;
}
body #app .container .number__one--wrapper {
  display: flex;
  gap: 5px;
}
body #app .container .number__one--wrapper--right {
  padding-top: 20px;
}
body #app .container .number__one--wrapper--right p {
  width: 950px;
}
body #app .container .number__one--wrapper--right--cards {
  padding-top: 41px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  max-width: 900px;
}
body #app .container .number__one--wrapper--right--cards-card {
  width: 268px;
  height: 62px;
  background-color: #fff;
  display: grid;
  place-content: center;
  border-radius: 12px;
}
body #app .container .number__one--wrapper--right--cards-card img {
  margin: 0 auto;
}
body #app .container .number__one--wrapper--right .right__text {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 505px;
}
body #app .container .number__one p {
  max-width: 1130px;
}
body #app .container .number__two {
  display: flex;
  padding-top: 40px;
  gap: 5px;
  align-items: center;
}
body #app .container .number__two p {
  max-width: 1000px;
}
body #app .container .number__three--top {
  display: flex;
  padding-top: 40px;
  gap: 5px;
  align-items: center;
}
body #app .container .number__three--top p {
  max-width: 980px;
}
body #app .container .number__three--images {
  position: relative;
}
body #app .container .number__three--images img {
  position: absolute;
}
body #app .container .number__three--images img:nth-child(1) {
  left: 200px;
}
body #app .container .number__three--images img:nth-child(2) {
  left: 550px;
  top: 30px;
}
body #app .container .number__three--bottom {
  padding-top: 300px;
  max-width: 1070px;
}
body #app .container .number__three--bottom--wrapper-images--top {
  position: relative;
}
body #app .container .number__three--bottom--wrapper-images--top img {
  position: absolute;
}
body #app .container .number__three--bottom--wrapper-images--top img:nth-child(1) {
  left: 530px;
  top: -200px;
}
body #app .container .number__three--bottom--wrapper-images--top img:nth-child(2) {
  left: 320px;
  top: -110px;
}
body #app .container .number__three--bottom--wrapper-images--top img:nth-child(3) {
  left: 995px;
  top: -110px;
}
body #app .container .number__three--bottom--wrapper-images--bottom {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  gap: 166px;
}
body #app .container .number__three--bottom--wrapper-images--bottom .left {
  display: flex;
  gap: 19px;
}
body #app .container .number__four {
  display: flex;
  padding-top: 40px;
  gap: 5px;
  align-items: center;
}
body #app .container .number__four p {
  max-width: 1000px;
}
body #app .container .number__five {
  display: flex;
  padding-top: 40px;
  gap: 4px;
  align-items: center;
}
body #app .container .number__five p {
  max-width: 1000px;
}
body #app .container .conclusion {
  max-width: 1240px;
  margin-top: 40px;
}
body .right__cards {
  position: absolute;
  right: 250px;
  top: 730px;
}
body .right__cards--card {
  position: relative;
  width: 220px;
  height: 220px;
  margin-top: 10px;
  border-radius: 14.35px;
}
body .right__cards--card:nth-child(1) {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7567401961) 36%, rgba(235, 236, 12, 0) 69%), url("../images/right-list-pochemu-img.png");
}
body .right__cards--card:nth-child(even) {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7567401961) 36%, rgba(235, 236, 12, 0) 69%), url("../images/right-list-luchshie-img.png");
}
body .right__cards--card:nth-child(3) {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7567401961) 36%, rgba(235, 236, 12, 0) 69%), url("../images/right-list-idei-img.png");
}
body .right__cards--card button {
  border: 0.96px solid rgb(255, 255, 255);
  border-radius: 23.91px;
  color: #fff;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 14px;
  left: 6.22px;
  cursor: pointer;
}
body .right__cards--card button:hover .button-icon {
  transform: translateX(-10px);
}
body .right__cards--card button .uppercase {
  text-transform: uppercase;
  font-size: 9px;
}
body .right__cards--card button .button-icon {
  display: grid;
  place-content: center;
  width: 35.87px;
  height: 35.87px;
  background: linear-gradient(91.25deg, #DF5017 -4.25%, #F9CB74 108.11%);
  border-radius: 23.91px;
  box-shadow: inset 1.91px 1.91px 2.87px 0px rgba(255, 255, 255, 0.5), 1.91px 1.91px 9.57px 0px rgb(223, 80, 23);
}

.swiper {
  width: 1000px;
  height: 500px;
  margin-bottom: 30px;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}/*# sourceMappingURL=app.css.map */